 <form action = "<%= index_output_url %>" method = "post" class="text-center border border-light p-5">
    <p class="h4 mb-4">Ввод значения</p>
    <p class="text-justify">Пожалуйста, введите в форму ниже, квадратный корень какого положительного числa вы хотели бы вычислить:</p>
    <div class = 'row'>
        <input name ="num" type="number" min ="0" required value = "4" step = "any" placeholder="Ваше число" class="form-control">
        <input class="btn btn-outline-primary btn-block my-4" type="submit" value="Вычислить">
    </div>
    <a class="text-primary" href = "<%=session_logout_url%>">Выйти из аккаунта</a>
</form>
     